@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #090A27 !important;
}

.turnoff_btn, .mute_btn, .share_screen {
    background: #19223C !important;
    color: #E9FFFF !important;
    margin: 0 5px 0 15px;
}

.form-select {
    width: 300px !important;
    margin: 10px auto;
    cursor: pointer;
}

.select_cam_title {
    color: #E9FFFF;
    margin-left: -168px !important;
}

.select_mic_title {
    color: #E9FFFF;
    margin-left: -110px !important;
}